:root{
    --headerHeight: 5em;
}

*{
    scrollbar-width: thin; 
    scroll-behavior: smooth;
    scrollbar-color: #69696969 #30303030;
}
body {
    font-family: Arial, sans-serif;
    background: #000000;
    color:white;
    margin: 0;
   
}

#header{
    width:100vw;
    height:var(--headerHeight);
    position: fixed;
    backdrop-filter: blur(3px);
    -webkit-mask: linear-gradient(0deg,rgba(0,0,0,0) 0%,rgb(0,0,0) 33%);
    padding-bottom: 2rem;
    display: flex;
    align-items: center;;
}
#gunIcon{
    height:var(--headerHeight);
}

p{
    height: 100vh;
}

#galery{
    padding-top:var(--headerHeight);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(45vh, auto));
    /* gap: 0.1em; */
    /* grid-auto-rows: minmax(45vh, auto); */
}

.imageContainer{
    /* min-width:33%; */
    border: 1px solid #cacaca0c;
    height:100%;
    img{
        width: 100%;
        height:100%;
    }
}